@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.jetbrains-mono-500 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* ------------------------- Font noncence ---------------------- */

body {
    background-color: #9397F5;
    color: #DDD4F5;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
}

main{
    width: 60%;
    display: block;
    margin: auto;
}

.greeting {
    border: 5px solid #EF93F5;
}

div.sep{
    height: 0px;
    border-style: dashed;
    border-width: 1px;
}

/* ------------------------- tasory's shit ---------------------- */

.greeting {
    border: 5px solid #EF93F5;
}

.greeting, .greeting legend {
    border: 5px solid #EF93F5;
    background-color: #313244;
    border-radius: 10px;
}

.greeting legend {
    padding: 5px;
}